# Package Files
*.war
*.ear
*.txt

# Java
*.class
hs_err_pid*

# Windows
thumbs.db
*.db

# Intellij IDEA
*.iml
*.ipr
*.iws

.idea
.idea_modules
!.idea/icon.svg
classes
out/
run/
build
.gradle

# Eclipse
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

